{% extends 'base.html' %}
{% block title%} Thank you! {% endblock %}
{% block content%}

<div class="container p-s5 mb-5" style="max-width: 600px;">
    <h1>Welcome to Survey!</h1>
    <form method="POST">
        <p>Please select a survey</p>
        <select name="survey_code">
            {% for code, survey in surveys.items() %}
            <option value="{{ code }}">{{ survey.title }}</option>
            {% endfor %}
        </select>
        <button class="btn btn-info btn-block btn-lg mt-5">Start the survey!</button>
    </form>
</div>

{% endblock %}
