{% extends 'base.html' %}
{% block title%} Complete {% endblock %}
{% block content%}

<div class="container p-s5 mb-5" style="max-width: 600px;">
    <h1>Thank you for completing {{ survey.title }}</h1>
    <p>Here is your recording of survey:</p>
    <ul>
        {% for question in survey.questions %}
        <li>
            <b>{{ question.question }}:</b>
            {{ responses[loop.index0]["choice"] }}
            <i>{{ responses[loop.index0]["text"] }}</i>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}

